@font-face {
  font-family: 'Phenomena';
  src: local('Phenomena Bold'), local('Phenomena-Bold'), url('../fronts/Phenomenabold.woff2') format('woff2'), url('../fronts/Phenomenabold.woff') format('woff'), url('../fronts/Phenomenabold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans-light';
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fronts/opensanslight.woff2') format('woff2'), url('../fronts/opensanslight.woff') format('woff'), url('../fronts/opensanslight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans-regular';
  src: local('Open Sans'), local('OpenSans'), url('../fronts/opensans.woff2') format('woff2'), url('../fronts/opensans.woff') format('woff'), url('../fronts/opensans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans-semibold';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fronts/opensanssemibold.woff2') format('woff2'), url('../fronts/opensanssemibold.woff') format('woff'), url('../fronts/opensanssemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans-bold';
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fronts/opensansbold.woff2') format('woff2'), url('../fronts/opensansbold.woff') format('woff'), url('../fronts/opensansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 990px;
  margin: 0 auto;
}

.container2 {
  max-width: 1600px;
  margin: 0 auto;
}

.header .wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -40px;
}

.header .wrp .headerLogo,
.header .wrp div {
  display: inline-block;
}

.header .wrp .headerLogo__img {
  margin-bottom: -80px;
  margin-left: -40px;
}

.header .wrp .headerTowncheck {
  margin-top: 80px;
  margin-left: -195px;
}

.header .wrp .headerTowncheck p,
.header .wrp .headerTowncheck ul {
  display: inline-block;
}

.header .wrp .headerTowncheck__p {
  font-size: 14px;
  text-transform: uppercase;
  color: #898989;
  font-family: 'Open Sans-light';
}

.header .wrp .headerTowncheck .headerTowncheckUl {
  list-style: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #898989;
  font-family: 'Open Sans-bold';
  margin-left: -27px;
  position: absolute;
}

.header .wrp .headerTowncheck .headerTowncheckUl__li:first-child {
  display: block;
  cursor: pointer;
}

.header .wrp .headerTowncheck .headerTowncheckUl__li:first-child:after {
  content: "" url('../img/arow bottom.svg');
  position: absolute;
  margin: -2px 7px;
}

.header .wrp .headerTowncheck .headerTowncheckUl__li {
  display: none;
  cursor: pointer;
}

.header .wrp .headerTowncheck .headerTowncheckUl .show {
  display: block;
}

.header .wrp .headerPhone {
  margin-top: 40px;
  margin-left: -15px;
  margin-right: 10px;
  margin-bottom: -10px;
}

.header .wrp .headerPhone__p {
  font-family: 'Open Sans-light';
  font-size: 34px;
  color: #898989;
}

.section1 {
  background-color: #80c340;
  margin-top: -30px;
  color: white;
  height: 540px;
}

.section1 .wrp .serviceTitle__p {
  padding-top: 35px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans-light';
  font-size: 44px;
}

.section1 .wrp .serviceForm {
  margin-top: -40px;
  text-align: center;
}

.section1 .wrp .serviceForm__label,
.section1 .wrp .serviceForm__imput,
.section1 .wrp .serviceForm__btn {
  display: table;
  margin: 0 auto;
}

.section1 .wrp .serviceForm__label {
  text-transform: uppercase;
  font-family: 'Open Sans-bold';
  font-size: 20px;
  padding-bottom: 20px;
  margin-top: -30px;
}

.section1 .wrp .serviceForm__input {
  text-align: center;
  padding: 15px 10px;
  text-transform: uppercase;
  font-family: 'Open Sans-light';
  font-size: 18px;
  width: 420px;
  border-radius: 5px;
  border: 1px solid white;
  margin-bottom: 20px;
  color: black;
}

.section1 .wrp .serviceForm__btn {
  text-transform: uppercase;
  font-family: 'Open Sans-regular';
  font-size: 21px;
  padding: 10px 40px;
  color: white;
  border: 2px solid white;
  background-color: #80c340;
  border-radius: 5px;
  cursor: pointer;
}

.section1 .wrp .servicePhoto1__img {
  float: left;
  margin-top: 100px;
  margin-left: 45px;
}

.section1 .wrp .servicePhoto2__img {
  float: left;
  margin-top: 40px;
  margin-left: 110px;
}

.section1 .wrp .servicePhoto3__img {
  position: absolute;
  margin-top: -40px;
  margin-left: 105px;
}

.section2 {
  background-color: #f6f6f6;
}

.section2 .wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section2 .wrp div {
  display: inline-block;
  -ms-flex-preferred-size: 532px;
  flex-basis: 532px;
}

.section2 .wrp .advertisementRepair {
  padding-bottom: 45px;
}

.section2 .wrp .advertisementRepair__img,
.section2 .wrp .advertisementRepair__p {
  display: inline-block;
}

.section2 .wrp .advertisementRepair__img {
  margin-top: 50px;
  margin-left: 80px;
  float: left;
}

.section2 .wrp .advertisementRepair__p {
  font-family: 'Open Sans-light';
  font-size: 22px;
  margin-top: 85px;
  margin-right: 110px;
  float: right;
}

.section2 .wrp .advertisementСourier {
  padding-bottom: 45px;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
}

.section2 .wrp .advertisementСourier__img,
.section2 .wrp .advertisementСourier__p {
  display: inline-block;
}

.section2 .wrp .advertisementСourier__img {
  margin-top: 55px;
  float: left;
  margin-left: 60px;
}

.section2 .wrp .advertisementСourier__p {
  font-family: 'Open Sans-light';
  font-size: 22px;
  margin-top: 75px;
  float: right;
  margin-right: 75px;
}

.section2 .wrp .advertisementGuarantee {
  padding-bottom: 45px;
}

.section2 .wrp .advertisementGuarantee__img,
.section2 .wrp .advertisementGuarantee__p {
  display: inline-block;
}

.section2 .wrp .advertisementGuarantee__img {
  margin-top: 65px;
  margin-left: 90px;
  float: left;
}

.section2 .wrp .advertisementGuarantee__p {
  font-family: 'Open Sans-light';
  font-size: 22px;
  margin-right: 100px;
  margin-top: 90px;
  float: right;
}

.section3 {
  padding-top: 45px;
}

.section3 .wrp .offerAdvertisement__p {
  font-family: 'Open Sans-regular';
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #434343;
}

.section3 .wrp .offerRepairPhones,
.section3 .wrp .offerRepairLaptops,
.section3 .wrp .offerRepairTablets {
  display: inline-block;
  -ms-flex-preferred-size: 320px;
  flex-basis: 320px;
}

.section3 .wrp .offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.section3 .wrp .offerRepairPhones {
  border: 1px solid white;
}

.section3 .wrp .offerRepairPhones .offerRepairPhonesTitle__p {
  font-family: 'Open Sans-light';
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
}

.section3 .wrp .offerRepairPhones .offerRepairPhonesImg {
  margin-top: 70px;
  text-align: center;
  padding-bottom: 65px;
}

.section3 .wrp .offerRepairPhones:hover {
  border: 1px solid #e1e1e1;
  background-color: #fbfbfb;
}

.section3 .wrp .offerRepairLaptops {
  border: 1px solid white;
}

.section3 .wrp .offerRepairLaptops .offerRepairLaptopsTitle__p {
  font-family: 'Open Sans-light';
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
}

.section3 .wrp .offerRepairLaptops .offerRepairLaptopsImg {
  margin-top: 80px;
  text-align: center;
  padding-bottom: 65px;
}

.section3 .wrp .offerRepairLaptops:hover {
  border: 1px solid #e1e1e1;
  background-color: #fbfbfb;
}

.section3 .wrp .offerRepairTablets {
  border: 1px solid white;
}

.section3 .wrp .offerRepairTablets .offerRepairTabletsTitle__p {
  font-family: 'Open Sans-light';
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
}

.section3 .wrp .offerRepairTablets .offerRepairTabletsImg {
  margin-top: 105px;
  text-align: center;
  padding-bottom: 65px;
}

.section3 .wrp .offerRepairTablets:hover {
  border: 1px solid #e1e1e1;
  background-color: #fbfbfb;
}

.section4 {
  color: #595959;
  padding-top: 55px;
}

.section4 .wrp .serviceSenter__p1 {
  font-family: 'Open Sans-light';
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
}

.section4 .wrp .serviceSenter hr {
  width: 460px;
  margin-top: -20px;
}

.section4 .wrp .serviceSenter__p2 {
  font-family: 'Open Sans-light';
  font-size: 35px;
  text-align: center;
  margin-top: 10px;
}

.section4 .wrp .serviceSenterDescription {
  margin-left: 25px;
  font-size: 14px;
  font-family: 'Open Sans-light';
}

.section4 .wrp .serviceSenterDescription__p1 {
  margin-bottom: 20px;
  text-align: justify;
  text-align-last: justify;
}

.section4 .wrp .serviceSenterDescription__p2 {
  margin-top: -20px;
  margin-bottom: 20px;
}

.section4 .wrp .serviceSenterDescription__p3 {
  text-align: justify;
  text-align-last: justify;
}

.section4 .wrp .serviceSenterDescription__p4 {
  margin-top: -13px;
  margin-bottom: 20px;
}

.section4 .wrp .serviceSenterDescription__p5 {
  text-align: justify;
  text-align-last: justify;
}

.section4 .wrp .serviceSenterDescription__p6 {
  margin-top: -13px;
}

.section5 {
  color: #595959;
  padding-top: 20px;
  font-family: 'Open Sans-light';
}

.section5 .wrp .workPlanTitle__p {
  text-align: center;
  font-size: 38px;
  font-family: 'Open Sans-light';
  text-transform: uppercase;
}

.section5 .wrp .workPlanCol1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.section5 .wrp .workPlanCol1 .workPlanCol101,
.section5 .wrp .workPlanCol1 .workPlanCol103,
.section5 .wrp .workPlanCol1 .workPlanCol105 {
  display: inline-block;
}

.section5 .wrp .workPlanCol1 .workPlanCol101 {
  margin-top: 50px;
  margin-left: -30px;
}

.section5 .wrp .workPlanCol1 .workPlanCol101__img,
.section5 .wrp .workPlanCol1 .workPlanCol101 .workPlanCol101Desq {
  display: inline-block;
}

.section5 .wrp .workPlanCol1 .workPlanCol101__img {
  float: left;
}

.section5 .wrp .workPlanCol1 .workPlanCol101 .workPlanCol101Desq__p1 {
  margin-top: -3px;
  margin-left: 25px;
  font-family: 'Open Sans-bold';
  color: black;
}

.section5 .wrp .workPlanCol1 .workPlanCol101 .workPlanCol101Desq__p2 {
  margin-left: 25px;
  margin-top: -15px;
  font-size: 14px;
  line-height: 18px;
}

.section5 .wrp .workPlanCol1 .workPlanCol101 .workPlanCol101Desq__p2 a {
  color: #558b52;
}

.section5 .wrp .workPlanCol1 .workPlanCol103 {
  margin-top: 50px;
  margin-left: 100px;
}

.section5 .wrp .workPlanCol1 .workPlanCol103__img,
.section5 .wrp .workPlanCol1 .workPlanCol103 .workPlanCol103Desq {
  display: inline-block;
}

.section5 .wrp .workPlanCol1 .workPlanCol103__img {
  float: left;
}

.section5 .wrp .workPlanCol1 .workPlanCol103 .workPlanCol103Desq__p1 {
  margin-top: -3px;
  margin-left: 15px;
  font-family: 'Open Sans-bold';
  color: black;
}

.section5 .wrp .workPlanCol1 .workPlanCol103 .workPlanCol103Desq__p2 {
  margin-left: 15px;
  margin-top: -15px;
  font-size: 14px;
  line-height: 18px;
}

.section5 .wrp .workPlanCol1 .workPlanCol105 {
  margin-top: 50px;
  margin-left: 70px;
}

.section5 .wrp .workPlanCol1 .workPlanCol105__img,
.section5 .wrp .workPlanCol1 .workPlanCol105 .workPlanCol105Desq {
  display: inline-block;
}

.section5 .wrp .workPlanCol1 .workPlanCol105__img {
  float: left;
}

.section5 .wrp .workPlanCol1 .workPlanCol105 .workPlanCol105Desq__p1 {
  margin-top: -3px;
  margin-left: 15px;
  font-family: 'Open Sans-bold';
  color: black;
}

.section5 .wrp .workPlanCol1 .workPlanCol105 .workPlanCol105Desq__p2 {
  margin-left: 15px;
  margin-top: -15px;
  font-size: 14px;
  line-height: 18px;
}

.section5 .wrp .workPlanCol2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section5 .wrp .workPlanCol2 .workPlanCol202,
.section5 .wrp .workPlanCol2 .workPlanCol204 {
  display: inline-block;
}

.section5 .wrp .workPlanCol2 .workPlanCol202 {
  margin-top: 25px;
  margin-left: 220px;
  float: left;
}

.section5 .wrp .workPlanCol2 .workPlanCol202 .workPlanCol202Desq__p1 {
  margin-top: -3px;
  font-family: 'Open Sans-bold';
  color: black;
}

.section5 .wrp .workPlanCol2 .workPlanCol202 .workPlanCol202Desq__p2 {
  margin-top: -15px;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 5px;
}

.section5 .wrp .workPlanCol2 .workPlanCol204 {
  margin-top: 25px;
  margin-left: 210px;
  float: left;
}

.section5 .wrp .workPlanCol2 .workPlanCol204 .workPlanCol204Desq__p1 {
  margin-top: -3px;
  font-family: 'Open Sans-bold';
  color: black;
}

.section5 .wrp .workPlanCol2 .workPlanCol204 .workPlanCol204Desq__p2 {
  margin-top: -15px;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 5px;
}

.section5 .wrp .workPlanImg {
  position: absolute;
  margin-top: -320px;
  margin-left: 10px;
}

.section6 {
  color: white;
  padding-top: 70px;
}

.section6 .wrp {
  border-radius: 5px;
  width: 585px;
}

.section6 .wrp .warning__p1 {
  margin-bottom: -10px;
  padding-left: 40px;
  font-family: 'Open Sans-bold';
  position: relative;
  z-index: 20;
}

.section6 .wrp .warning__p2 {
  position: relative;
  z-index: 20;
  font-family: 'Open Sans-light';
  padding-left: 40px;
  margin-bottom: 5px;
  font-size: 15.5px;
}

.section6 .wrp .warning__img {
  position: relative;
  z-index: 10;
  margin-top: -200px;
}

.section7 {
  padding-top: 50px;
}

.section7 .wrp .testimonialsTitle__p {
  text-align: center;
  font-size: 38px;
  font-family: 'Open Sans-light';
  text-transform: uppercase;
  color: #595959;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderLeft {
  position: absolute;
  margin-left: -40px;
  margin-top: 50px;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderLeft .testimonialsSliderLeftUl {
  list-style: none;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderLeft .testimonialsSliderLeftUl__li {
  width: 20px;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderLeft .testimonialsSliderLeftUl__li:before {
  content: "" url('../img/arrow.jpg');
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
  display: block;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderLeft .testimonialsSliderLeftUl__li:hover:before {
  content: "" url('../img/arrowhover.jpg');
  -webkit-transform: none;
  transform: none;
  cursor: pointer;
  display: block;
  margin-left: 10px;
  margin-top: 5px;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderRight {
  position: absolute;
  margin-left: 980px;
  margin-top: 60px;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderRight .testimonialsSliderRightUl {
  list-style: none;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderRight .testimonialsSliderRightUl__li {
  width: 20px;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderRight .testimonialsSliderRightUl__li:before {
  content: "" url('../img/arrow.jpg');
  cursor: pointer;
  display: block;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderRight .testimonialsSliderRightUl__li:hover:before {
  content: "" url('../img/arrowhover.jpg');
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
  display: block;
  margin-right: 5px;
  margin-top: -5px;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 {
  margin-left: 50px;
  margin-top: 90px;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span1 {
  margin-right: 25px;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span1__img1 {
  padding: 5px 5px;
  background-color: grey;
  border-radius: 5px;
  cursor: pointer;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span1__img1:hover {
  padding: 5px 5px;
  background-color: #80c340;
  border-radius: 5px;
  cursor: pointer;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span1__img11 {
  position: absolute;
  margin-left: -160px;
  margin-top: 115px;
  display: none;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span1__img1:hover + img {
  display: inherit;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span2 {
  margin-right: 25px;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span2__img2 {
  padding: 5px 5px;
  background-color: grey;
  border-radius: 5px;
  cursor: pointer;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span2__img2:hover {
  padding: 5px 5px;
  background-color: #80c340;
  border-radius: 5px;
  cursor: pointer;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span2__img22 {
  position: absolute;
  margin-left: -160px;
  margin-top: 115px;
  display: none;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span2__img2:hover + img {
  display: inherit;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span3 {
  margin-right: 25px;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span3__img3 {
  padding: 5px 5px;
  background-color: grey;
  border-radius: 5px;
  cursor: pointer;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span3__img3:hover {
  padding: 5px 5px;
  background-color: #80c340;
  border-radius: 5px;
  cursor: pointer;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span3__img33 {
  position: absolute;
  margin-left: -160px;
  margin-top: 115px;
  display: none;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span3__img3:hover + img {
  display: inherit;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span4 {
  margin-right: 25px;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span4__img4 {
  padding: 5px 5px;
  background-color: grey;
  border-radius: 5px;
  cursor: pointer;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span4__img4:hover {
  padding: 5px 5px;
  background-color: #80c340;
  border-radius: 5px;
  cursor: pointer;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span4__img44 {
  position: absolute;
  margin-left: -160px;
  margin-top: 115px;
  display: none;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span4__img4:hover + img {
  display: inherit;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span5 {
  margin-right: 25px;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span5__img5 {
  padding: 5px 5px;
  background-color: grey;
  border-radius: 5px;
  cursor: pointer;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span5__img5:hover {
  padding: 5px 5px;
  background-color: #80c340;
  border-radius: 5px;
  cursor: pointer;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span5__img55 {
  position: absolute;
  margin-left: -160px;
  margin-top: 115px;
  display: none;
}

.section7 .wrp .testimonialsSlider .testimonialsSliderDocs1 .testimonialsSliderDocs1Span5__img5:hover + img {
  display: inherit;
}

.section7 .wrp .testimonialsSlider .fade {
  display: none;
}

.section8 {
  background-color: #80c340;
  color: white;
  margin-top: 120px;
  height: 320px;
}

.section8 .wrp .serviceForm2Hand__img {
  position: absolute;
  margin-left: -930px;
  margin-top: -53px;
}

.section8 .wrp .serviceForm2 {
  margin-top: 90px;
  float: left;
  text-align: center;
  margin-left: 345px;
}

.section8 .wrp .serviceForm2__label,
.section8 .wrp .serviceForm2__imput,
.section8 .wrp .serviceForm2__btn {
  display: table;
  margin: 0 auto;
  text-align: center;
}

.section8 .wrp .serviceForm2__label {
  text-transform: uppercase;
  font-family: 'Open Sans-bold';
  font-size: 20.5px;
  padding-bottom: 30px;
  margin-top: -25px;
  line-height: 22px;
}

.section8 .wrp .serviceForm2__input {
  padding: 15px 10px;
  text-transform: uppercase;
  font-family: 'Open Sans-light';
  font-size: 18px;
  width: 420px;
  border-radius: 5px;
  border: 1px solid white;
  margin-bottom: 15px;
  color: black;
  text-align: center;
}

.section8 .wrp .serviceForm2__btn {
  text-transform: uppercase;
  font-family: 'Open Sans-regular';
  font-size: 21px;
  padding: 10px 40px;
  color: white;
  border: 2px solid white;
  background-color: #80c340;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  background-color: #585858;
}

.footer .wrp {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.footer .wrp div {
  display: inline-block;
}

.footer .wrp .footerLinks {
  margin-right: auto;
  margin-left: 0;
}

.footer .wrp .footerLinks .footerLinksLogo__img {
  margin-top: 15px;
  margin-left: -25px;
}

.footer .wrp .footerLinks a {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans-light';
  font-size: 12px;
  text-transform: uppercase;
  display: table;
  margin-bottom: 10px;
  margin-left: 15px;
}

.footer .wrp .footerAdress {
  color: white;
  font-family: 'Open Sans-regular';
  text-align: right;
  margin-right: 35px;
}

.footer .wrp .footerAdress__p1 {
  margin-top: 33px;
  font-size: 15px;
}

.footer .wrp .footerAdress__p2 {
  margin-top: -15px;
  font-size: 30px;
}

.footer .wrp .footerAdress__p3 {
  font-size: 14px;
  margin-top: -30px;
}

.footer .wrp .footerMap {
  margin-top: 5px;
  width: 255px;
  height: 155px;
}

.footer .footerInfo {
  font-size: 12px;
  background-color: black;
  text-align: center;
  color: #737373;
  font-family: 'Open Sans-light';
}

.footer .footerInfo__p {
  padding: 5px 0;
}

@media screen and (max-width: 1100px) {
  .header .wrp .headerLogo__img {
    margin-left: 20px;
  }

  .section1 .wrp .servicePhoto1 {
    display: none;
  }

  .section1 .wrp .servicePhoto2 {
    display: none;
  }

  .section1 .wrp .servicePhoto3 {
    display: none;
  }

  .section2 .wrp .advertisementСourier {
    border: none;
  }

  .section4 .wrp .serviceSenterDescription__p1 {
    text-align-last: left;
  }

  .section4 .wrp .serviceSenterDescription__p1 {
    text-align: left;
  }

  .section4 .wrp .serviceSenterDescription__p3 {
    text-align-last: left;
  }

  .section4 .wrp .serviceSenterDescription__p3 {
    text-align: left;
  }

  .section4 .wrp .serviceSenterDescription__p5 {
    text-align-last: left;
  }

  .section4 .wrp .serviceSenterDescription__p5 {
    text-align: left;
  }

  .section5 .wrp .workPlanCol1 .workPlanCol101 {
    width: calc(100% - 30px);
  }

  .section5 .wrp .workPlanCol1 .workPlanCol101 {
    margin-left: 50px;
  }

  .section5 .wrp .workPlanCol1 .workPlanCol103 {
    width: calc(100% - 30px);
  }

  .section5 .wrp .workPlanCol1 .workPlanCol103 {
    margin-left: 50px;
  }

  .section5 .wrp .workPlanCol1 .workPlanCol103 {
    margin-top: 150px;
  }

  .section5 .wrp .workPlanCol1 .workPlanCol103 {
    float: left;
  }

  .section5 .wrp .workPlanCol1 .workPlanCol105 {
    width: calc(100% - 30px);
  }

  .section5 .wrp .workPlanCol1 .workPlanCol105 {
    margin-left: 50px;
  }

  .section5 .wrp .workPlanCol1 .workPlanCol105 {
    margin-top: 200px;
  }

  .section5 .wrp .workPlanCol2 .workPlanCol202 {
    margin-left: 100px;
  }

  .section5 .wrp .workPlanCol2 .workPlanCol202 {
    margin-top: -650px;
  }

  .section5 .wrp .workPlanCol2 .workPlanCol202 {
    float: left;
  }

  .section5 .wrp .workPlanCol2 .workPlanCol204 {
    margin-left: -170px;
  }

  .section5 .wrp .workPlanCol2 .workPlanCol204 {
    margin-top: -340px;
  }

  .section5 .wrp .workPlanCol2 .workPlanCol204 {
    float: left;
  }

  .section5 .wrp .workPlanImg {
    display: none;
  }

  .section7 {
    display: none;
  }

  .section8 .wrp .serviceForm2Hand__img {
    display: none;
  }

  .section8 .wrp .serviceForm2 {
    margin-left: 10px;
  }
}

@media screen and (max-width: 960px) {
  .header .wrp .headerTowncheck {
    margin-left: 10px;
  }

  .header .wrp .headerTowncheck {
    width: calc(100% - 30px);
  }

  .header .wrp .headerPhone {
    margin-left: 10px;
  }
}

@media screen and (max-width: 560px) {
  .header .wrp .headerPhone__p {
    font-size: 28px;
  }

  .section1 .wrp .serviceForm__input {
    width: 230px;
  }

  .section1 .wrp .serviceForm__btn {
    padding: 5px 5px;
  }

  .section1 .wrp .serviceForm__btn {
    font-size: 17px;
  }

  .section2 .wrp .advertisementRepair__p {
    margin-left: 50px;
  }

  .section2 .wrp .advertisementGuarantee__p {
    margin-left: 50px;
  }

  .section5 .wrp .workPlanCol2 .workPlanCol204 {
    margin-left: 100px;
  }

  .section6 .wrp .warning__img {
    display: none;
  }

  .section8 {
    height: 360px;
  }

  .section8 .wrp .serviceForm2__input {
    width: 230px;
  }

  .section8 .wrp .serviceForm2__btn {
    padding: 5px 5px;
  }

  .section8 .wrp .serviceForm2__btn {
    font-size: 17px;
  }
}